{% extends 'layout.html' %}

{% block body %}
	<div class="container">
		<h1>Dashboard <small>Welcome {{session.name}}</small></h1>
		<a href="/add_article" class="btn btn-success btn-lg">Post New Farticle</a>
		<hr>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Date</th>
			<th></th>
			<th></th>
		</tr>

		{% for article in articles %}
			<tr>
				<td><a href="/article/{{article._id}}">{{article.title}}</a></td>
				<td>{{article.author}}</td>
				<td>{{article.date}}</td>
				<td><a href="/edit_article/{{article._id}}" class="btn btn-secondary float-right">Edit</a></td>
				<td>
					<form action="{{url_for('delete_article', id=article._id)}}" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<input type="submit" name="Delete" value="Delete" class="btn btn-danger">
				</form>
				</td>
			</tr>
		{% endfor %}

	</table>
{% endblock %}