{% extends 'layout.html' %}

{% block body %}
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Welcome to Farticles.</h1>
			<h3>Here, you can post your stinkiest stories ;)</h3>
			{% if session.logged_in == NULL %}
				<a href="/register" class="btn btn-primary btn-lg">Register</a>
				<a href="/login" class="btn btn-success btn-lg">Login</a>
			{% else %}
				<a href="/dashboard" class="btn btn-info btn-lg">Dashboard</a>
			{% endif %}

		</div>
		<div class="container">
			<h1>The best of the best. <small><i>- Stephen Hawking</i></small></h1>
			<h1>Stinky as hell! <small><i>- Tim Cook</i></small></h1>
			<h1>Couldn't get any better. <small><i>- Michael Jackson</i></small></h1>
		</div>
	</div>
{% endblock %}