<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Farticles</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	</head>
	<body>

		{% include 'includes/_navbar.html' %}

		<div class="container-fluid">


			{% include 'includes/_messages.html' %}

			{% block body %}{% endblock %}
		</div>


		<style type="text/css">
			.container-fluid {
				margin-top: 2em;
			}
			.jumbotron {
				margin-top: 2em;
			}
		</style>

		<script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
		<script type="text/javascript">
			CKEDITOR.replace('editor')
		</script>
	</body>
</html>